@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);


.foot { background-color:#e6e6e6; padding: 30px 0 0 0; font-size: 13px; color: #777; }
  .foot a { color: #333; }
    .foot a:hover {color: #000; }
  .foot .widget { margin-bottom:30px; }
  .foot .widget-title { font-size: 17px; font-weight: bold; color: #8d8d8d; margin: 0 0 20px; text-transform: uppercase; }
  .foot .entry-meta { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; margin: 0 0 35px 0; padding: 2px 0; color: #888888; font-size: 12px; font-size: 0.75rem; }
    .foot .entry-meta a { color: #333333; }
    .foot .entry-meta .meta-in { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; padding: 10px 0; }
  .follow-me-icons { font-size:30px; }
    .follow-me-icons i { float:left; margin:0 10px 0 0; }
  .foot dd {
    line-height: 1.6;
  }
